#radarTopbarContainer {
	position: fixed;
	z-index: 101;
  top: 0px;
  height: 30px;
  width: 100%;
}

#radarTopbar {
  margin: 0 auto;
  width: 800px;
  border-radius: 0px 0px 25px 25px;
  padding: 1px 15px 5px 10px;
  height: 18px;
  box-shadow: 0 0 5px black;
}

@keyframes slideIn {
  0% {top: 0px;}
  100% {top: -20px;}
}

#radarTable {
	width: 100%;
	table-layout: fixed;
}

#radarIcon {
	vertical-align: middle;
	padding: 0px 5px 0px 0px;
}

#characterPortrait {
	vertical-align: middle;
}

#radarSignIn {
	font-weight: bold;
	color: #8F8B2C;
}

#radarSignIn:hover {
  color: #666;
}

#radarSignIn:active {
  color: #444;
}

#radarSignInDark {
	font-weight: bold;
  color: #bbb;
}

#radarSignInDark:hover {
  color: #ddd;
}

#radarSignInDark:active {
  color: #fff;
}

#radarTrackingButton {
  font-weight: bold;
  color: #8F8B2C;
}

#radarTrackingButton:hover {
  color: #666;
}

#radarTrackingButton:active {
  color: #444;
}

#radarTrackingButtonDark {
  font-weight: bold;
  color: #bbb;
}

#radarTrackingButtonDark:hover {
  color: #ddd;
}

#radarTrackingButtonDark:active {
  color: #fff;
}

#radarColumnLeft {
  text-align: left;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

#radarColumnCenter {
  text-align: center;
  width: 20%;
}

#radarColumnRight {
	text-align: right;
	width: 40%;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
  direction: rtl;
}