#radarTopbarContainer {
	position: fixed;
	z-index: 101;
  top: 0px;
  height: 30px;
  width: 100%;
  animation: slideIn 1s ease-out 0.5s 1 forwards;
}

#radarTopbar {
  margin: 0 auto;
  width: 600px;
  border-radius: 0px 0px 25px 25px;
  background: #D5DF3D;
  padding: 2px 15px 4px 10px;
  height: 17px;
  box-shadow: 0 0 5px black;
}

#radarTopbarContainer:hover {
	animation: slideOut 0.1s ease-out 0s 1 forwards;
}

@keyframes slideIn {
  0% {top: 0px;}
  100% {top: -20px;}
}

@keyframes slideOut {
  0% {top: -20px;}
  100% {top: 0px;}
}

#radarIcon {
	vertical-align: middle;
}

#radarSignIn {
	font-weight: bold;
	float: right;
	color: #8F8B2C;
}

#radarSignIn:hover {
  color: #666;
}

#radarSignIn:active {
  color: #444;
}